<!doctype html>
<html>
{% load static %}
<head>
<meta charset="utf-8">
<title>奖学金评定系统</title>
<link href={% static 'css/index/index.css' %} rel="stylesheet" type="text/css" />
<script src={% static 'js/index/upload_file.js' %} type="text/javascript"></script>
</head>
<body>
	<div class="index">
		<div class="top">
			<span class="TYUT">TYUT</span>
			<span class="little">奖学金评定系统</span>
			<span class="choice" >
				<form action="/index/" method="post" enctype="multipart/form-data" class="upload_file"  >
					<input type="file" name="myfile">
					<button class="upload">综测上传</button>
                    {% csrf_token %}
				</form>
				<button class="print" >结果打印</button>
				<button class="fixed" >错误修改</button>
				<img class="head_pic" src={% static 'image/index/指纹.png' %} alt="头像"/>
				<span class="academy" >信计学院</span>
			</span>
		</div>
		<!--轮播图-->
		<div class="viewport">
			<div class="wrap">
				<img src={% static 'image/index/banner1.png' %} alt="">
				<img src={% static 'image/index/Banner2.png' %} alt="">
				<img src={% static 'image/index/Banner3.png' %} alt="">
			</div>
		</div>
		<div class="other">
			<a class="upload2" href="javascript:void" onClick="" style="text-decoration-line: none">
				<img src={% static 'image/index/1.png' %} alt="" class="upload_pic" />
				<span class="shangchuan" >综测上传</span>
			</a>
			<a class="print2" href="javascript:void" onClick="" style="text-decoration-line: none">
				<img src={% static 'image/index/2.png' %} alt="" class="print_pic" />
				<span class="dayin" >结果打印</span>
			</a>
			<a class="fixed2" href="javascript:void" onClick="" style="text-decoration-line: none">
				<img src={% static 'image/index/3.png' %} alt="" class="fixed_pic" />
				<span class="xiugai" >数据修改</span>
			</a>
			<span class="me">
				<a class="message2" href="javascript:void" onClick="" style="text-decoration-line: none">
				<img src={% static 'image/index/4.png' %} alt="" class="message_pic" />
				<span class="xinxi" >我的信息</span>
				</a>
			</span>
		</div>
		
		<p class="blank">
			<br />
		</p>
	</div>
</body>
</html>
